USE [master]
GO
/****** Object:  Database [LapButle]    Script Date: 07.12.2019 03:35:02 ******/
CREATE DATABASE [LapButle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LapButle', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LapButle.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LapButle_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LapButle_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LapButle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LapButle]
GO
/****** Object:  Table [dbo].[Results]    Script Date: 07.12.2019 03:35:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Results](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nickname] [varchar](20) NULL,
	[Result] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Results] ON 

INSERT [dbo].[Results] ([ID], [Nickname], [Result]) VALUES (1, N'Mateusz', 69)
INSERT [dbo].[Results] ([ID], [Nickname], [Result]) VALUES (2, N'Marcin', 120)
INSERT [dbo].[Results] ([ID], [Nickname], [Result]) VALUES (3, N'Zbyszek', 14)
SET IDENTITY_INSERT [dbo].[Results] OFF
USE [master]
GO
